@{
    ViewData["Title"] = "Mi carrera";
}
<h1>@ViewData["Title"]</h1>

<h2 class="text-carrera">@ViewBag.Carrera</h2>
<img src="~/img/@ViewBag.Imagen" alt="Imagend de mi carrera" width="1000" srcset="">