@{
    ViewData["Title"] = "Mis pasatiempos";
}
<h1>@ViewData["Title"]</h1>

<h2>Lo que me gusta hacer es...</h2>

<ul>
    <li>Jugar videojuegos</li>
    <li>Escribir a veces</li>
    <li>Ver series y peliculas interesantes</li>
    <li>Ver videos en Youtube</li>
    <li>Pasar tiempo leyendo cosas de mi interes</li>
    <li>Escuchar música</li>
    <li>Estar con mis amigos</li>
    <li>Tocar la guitarra</li>
</ul>