@* Esto es una Razer View *@
@{
    ViewBag.Title = "Info page jsjs";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>

<body>
    <h1>Hola mundo desde un archivo HTML en Info gdfgdfg</h1>
    @* Mostrar un archivo de wwroot con ~ *@
    <img src="~/img/lady.jpg" alt="Imagen de la lady di" srcset="">
</body>

</html>